In [16]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline
pd.set_option('display.max_rows', None)

In [18]:
#data = 'https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv'
#!wget $data

df = pd.read_csv('car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [3]:
# Q1:

pd.__version__

'2.3.1'

In [4]:
# Q2:

len(df)

9704

In [5]:
# Q3:

categorical = ['origin', 'fuel_type', 'drivetrain', 'num_doors', 'model_year']

for i in categorical:
    print(f'Na categoria {i} temos {df[i].nunique()} opções.')
    print(f'  - {df[i].unique()}')

Na categoria origin temos 3 opções.
  - ['Europe' 'USA' 'Asia']
Na categoria fuel_type temos 2 opções.
  - ['Gasoline' 'Diesel']
Na categoria drivetrain temos 2 opções.
  - ['All-wheel drive' 'Front-wheel drive']
Na categoria num_doors temos 9 opções.
  - [ 0.  2. -1.  1. nan -2. -3.  3. -4.  4.]
Na categoria model_year temos 24 opções.
  - [2003 2007 2018 2009 2008 2012 2020 2016 2005 2014 2010 2000 2006 2013
 2011 2004 2002 2022 2017 2001 2023 2019 2015 2021]

In [6]:
# Q4: 

df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [7]:
# Q5:

df[df['origin']=="Asia"]['fuel_efficiency_mpg'].max().round(3)

np.float64(23.759)

In [23]:
# Q6:

median = df['horsepower'].median()
mode = df['horsepower'].mode().iloc[0]
median, mode

(np.float64(149.0), np.float64(152.0))

In [ ]:
df['horsepower'] = df['horsepower'].fillna(mode)
df['horsepower'].median()

# Subiu

np.float64(152.0)

In [40]:
# Q7:

X = np.array(df[df['origin']=='Asia'][['vehicle_weight', 'model_year']].head(7))
X

array([[2714.21930965, 2016.        ],
       [2783.86897424, 2010.        ],
       [3582.68736772, 2007.        ],
       [2231.8081416 , 2011.        ],
       [2659.43145076, 2016.        ],
       [2844.22753389, 2014.        ],
       [3761.99403819, 2019.        ]])

In [42]:
XTX = X.T.dot(X)
INV = np.linalg.inv(XTX)
y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [43]:
w = (INV.dot(X.T)).dot(y)
w

array([0.01386421, 0.5049067 ])

In [44]:
sum(w)

np.float64(0.5187709081074016)